[submodule "themes/hugo-kiera"]
	path = themes/kiera
	url = https://github.com/karlhto/hugo-kiera.git
[submodule "themes/hello_friend_ng"]
	path = themes/hello_friend_ng
	url = git@github.com:rhazdon/hugo-theme-hello-friend-ng.git
